body {
  height: 100vh;
}

@media (min-width: 992px) {
  body {
    /* uncomment this if we would like to keep the navbar separate from the body */
    /* padding-top: 56px; */
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

#upload {
  height: 80px;
}
