.image-name {
  margin-top: 0px;
  word-wrap: break-word;
  display: inline;
}

.name-row {
  margin-left: 0px;
  margin-right: 0px;
}

.settings-button {
  padding: 5px;
  width: 27px;
  height: 27px;
}

.accordian-link {
  color: #192d42;
  margin-left: 10px;
  margin-right: 10px;
}

.accordian-header {
  text-align: center;
}

.data-panel {
  margin-top: 0px;
}

.choices {
  margin-bottom: 10px !important;
}

.notes {
  margin-bottom: 10px;
}

.accordian-body {
  max-height: 300px;
  overflow: scroll;
}

/*  slide out menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    margin-left: 16.666%;
    border-left: 2px solid white;
    color: white;
}

.thumb {
  max-width: 92%;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
}

#slidebutton {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 45vh;
  left: calc(100% - 70px);

}

.menu-check {
  margin-top: 10px;
  margin-left: 15px !important;
  word-wrap: break-word;
  max-width: calc(100% - 20px)
}

.menu-check-thumb {
  margin-top: 25% !important;
  margin-left: 15px !important;
}

.thumb-panel {
  margin-right: 10px;
  float: right;
  max-width: calc(100% - 40px);
}

/* #slidetogglebtn {
  margin-left: calc((100% - 86px)/2);
  margin-right: calc((100% - 86px)/2);
  margin-top: 10px;
} */

.thumb-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.menulink {
  text-decoration: underline solid white;
  margin: 5px;
  color: #337ab7;
}

.menulink:hover {
  color: black;
}

.no-side-margins {
  margin-left: 0px;
  margin-right: 0px;
}
.side-margins-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.float-right {
  float: right;
  clear: right;
}

.drawer-hr {
  margin: 10px;
  border-color: #646464;
}

.drawer-input-col {
  padding
}

.name-header {
  word-wrap: break-word;
  color: #3d3d3d;
  margin-bottom: 5px;
}

.desc-header {
  word-wrap: break-word;
  color: #b1b1b1;
  margin-top: 5px;
}
