.image-name {
  margin-top: 0px;
  word-wrap: break-word;
  display: inline;
}

.name-row {
  margin-left: 0px;
  margin-right: 0px;
}

.settings-button {
  padding: 5px;
  width: 27px;
  height: 27px;
}

.accordian-link {
  color: #192d42;
  margin-left: 10px;
  margin-right: 10px;
}

.accordian-header {
  text-align: center;
}

.data-panel {
  margin-top: 0px;
}

.choices {
  margin-bottom: 10px !important;
}

.notes {
  margin-bottom: 10px;
}

.accordian-body {
  max-height: 300px;
  overflow: scroll;
}

/*  slide out menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    margin-left: 16.666%;
    border-left: 2px solid white;
    color: white;
}

.thumb {
  max-width: 92%;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
}

#slidebutton {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 45vh;
  left: calc(100% - 70px);

}

.menu-check {
  margin-top: 10px;
  margin-left: 15px !important;
  word-wrap: break-word;
  max-width: calc(100% - 20px)
}

.menu-check-thumb {
  margin-top: 25% !important;
  margin-left: 15px !important;
}

.thumb-panel {
  margin-right: 10px;
  float: right;
  max-width: calc(100% - 40px);
}

/* #slidetogglebtn {
  margin-left: calc((100% - 86px)/2);
  margin-right: calc((100% - 86px)/2);
  margin-top: 10px;
} */

.thumb-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.menulink {
  text-decoration: underline solid #0d77e2;
  margin: 5px;
  color: #0d77e2;
}

.menulink:hover {
  color: #4baffd;
}

#toggledetail {
  background-color: #0d77e2;
  color: white;
  border-color: #0d77e2;
  padding: 10px;
  margin-left: 10px;
}

.command-buttons {
  margin-left: 10px;
  margin-bottom: 5px;
}

.choices__item .choices__item--selectable {
  background-color: #0d77e2;
}
