.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  vertical-align: bottom;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
a {
  color: white;
}
a:hover, a:focus {
  color: #0d77e2;
}

a.side-bar:hover, a.side-bar:focus {
  color: #0d77e2;
}

#top-nav {
  position: fixed;
}

#side-nav {
  position: fixed;
}

#body {
  margin-left: 16.666%;
  /* max-width: 83.333%; */
}

#width-mod {
  transition: margin-left .2s;
  margin-top: 50px;
  transition: margin-left .5s;
  font: "Nunito Sans";
  min-width: 772px;
  transition: margin-left .2s;
  color: #3d3d3d;
}

header.masthead {
  text-align: center;
  color: white;
  /* background: */
      /* linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%); */
  background-color: #2E507F;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.inner {
  height:100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin:0px;
  padding: 0px;
  width: 100%
}

.section_template {
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#wrapper {
  height: 100%;
  padding: 0;
  transition: margin-left .5s;
  max-width: 100%;
}
.absolute-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#home {
  margin-left: 0px;
  margin-right: 0px;
}

#side-nav {
  position: fixed;
  margin: 50px 0px 0px 0px;
}

.meta-nav {
  color: white;
  background-color: #0d77e2;
  height: 100%;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 10px !important;
}

.thumb-btn {
  max-width: 28%;
}
