header.masthead {
  text-align: center;
  color: white;
  /* background: */
      /* linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%); */
  background-color: #2E507F;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.inner {
  height:100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.section_template {
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#wrapper {
  height: 100%;
}

.search {

}
