header.masthead {
  text-align: center;
  color: black;
  background:
      linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
<<<<<<< HEAD
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100%;
=======
>>>>>>> master
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}
<<<<<<< HEAD

#landing {
  height:100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.inner {
  height:100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.section_template {
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
=======
>>>>>>> master
