h1 {
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: #2E507F;
}

h4 {
  padding-left: 10px;
  padding-right: 10px;
  color: #6c757d;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}
